body{
    padding: 2rem;
}
/* making the image responsive for different screen sizes. */
img{
    margin:0 3% 3% 3%;
    max-width: 20%;
    float: right;
    object-fit: contain;
    border-radius: 1rem;
}

section{
    padding: 2rem;
}
article section:first-child{
    margin-top: 4rem;
}
/* when width is set to 100% its background slips under the image*/
nav{
    width: 40%;
}
/* when width is set to 100% its background slips under the image*/
.intro{
    text-align:center;
    width: 50%;
    
}
